@page
@{
}


<h1>Pick a Search </h1>

<h4>Search By Genre</h4>

<form asp-action="SearchResultsGenre">


    <input type="submit" class="btn btn-primary" />
</form>




<hr />



<h4>Search Title</h4>

<form asp-action="SearchResultsTitle">


    <input type="submit" class="btn btn-primary" />
</form>